################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/stack_by_c/stack_by_c.vcxproj.user
/stack_by_c/stack_by_c.vcxproj.filters
/stack_by_c/stack_by_c.vcxproj
/stack_by_c/stack_by_c.sln
/stack_by_c/.vs/stack_by_c/v16
/stack_by_c/Debug
